/*!
* Extra small devices (portrait phones, less than 576px)
*/@media (max-width:575.98px){.table-index{width:4%}.table-action{width:20%}}

/*!
* Small devices (landscape phones, 576px and up)
*/@media (min-width:576px) and (max-width:767.98px){.table-index{width:4%}.table-action{width:20%}}

/*!
* Medium devices (tablets, 768px and up)
*/@media (min-width:768px) and (max-width:991.98px){.table-index{width:4%}.table-action{width:17%}}

/*!
* Large devices (desktops, 992px and up)
*/@media (min-width:992px) and (max-width:1199.98px){.table-index{width:4%}.table-action{width:17%}}

/*!
* Extra large devices (large desktops, 1200px and up)
*/@media (min-width:1200px){.table-index{width:4%}.table-action{width:12%}}

/*!
* Common
*/.menu-struct ol{list-style:none}.menu-struct .ui-sortable{padding-left:2rem}.menu-struct .ui-sortable .nav-link{border:1px solid #898989;background-color:rgba(51,56,57,.5)}.menu-struct .ui-sortable .nav-link span{cursor:move}.menu-struct .ui-sortable .highlight{outline:1px dashed #898989}#popupToast{left:inherit;z-index:9999}.wather{background:url(/storage/images/tp-ho-chi-minh.jpg);background-size:contain;height:225px;color:#000!important}.wather .avatar{width:35px}