#page-container {
    position: relative;
    min-height: 100vh;
    display: block;
    overflow: auto;
}

.container {
    position: relative;
    min-height: 100vh;
    display: block;
    overflow: auto;
}

.footer {

    /*clear: both;*/
    /*position: relative;*/
    /*height: 200px;*/
    /*margin-top: -200px;*/
    /*margin-top: -200px;*/

    position:fixed;
    bottom:0;
}

#main-container{
    min-height: 800px;
}

.required:after {
    content:" *";
    color: red;
    font-weight: bold;
}

.table-index {
    width: 5%;
}
.table-action {
    width: 12%;
}
